.detect {
    text-align: center;
    font-size: 3.8rem;
    flex-wrap: wrap;
}

.btn-shadow {
    margin: 0 13% !important;
    padding: 1% 1% !important;
}

.input {
    width: 90% !important;
    margin-right: 1% !important;
}

.try {
    margin: 3% 3%;
    font-size: 1.7rem;
    text-align: center;
}