

.sign-title {
    font-size: 3rem !important;
    font-weight: bolder !important;
    padding-bottom: 3% !important;
    display: flex !important;
    justify-content: center !important;
}

.form-control {
    width: 50% !important;
    margin: auto !important;
}

.submit {
    margin: auto !important;
    width: auto !important;
    background: rgb(8, 189, 212, 0.7) !important;
    border-style: none !important;
    color: black !important;
    display: inline;
}

.submit:hover {
    background: rgba(32, 214, 238, 0.7) !important;
    color: white !important;
    transform: scale(1.2);
    font-weight: bold !important;
}

.submit:active {
    background: rgba(32, 214, 238, 0.7) !important;
    color: white !important;
    transform: scale(1.1);
    font-weight: normal !important;
}



#emailhelp {
    padding-left: 5px;
    padding-top: 5px;
    color: black !important;
    font-style: italic;
    font-weight: 300 !important;
    flex-wrap: wrap;

}

.register {
    padding: 2% 0 2% 0;
    text-decoration: none !important;
    color: black !important;
    margin: 0 50%
}

.register:hover {
    text-decoration: underline !important;
    transform: scale(1.1);
}