@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab&display=swap');

body {
  font-family: 'Zilla Slab', sans-serif !important;
  background: linear-gradient(90deg, rgba(33,133,63,1) 0%, rgba(1,118,148,1) 66%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, monospace;
}

  
.zoom:hover {
  transform: scale(1.2);
}

.zoom:active {
  transform: scale(1.1);
}

.zoom:after {
  transform: scale(1);
}

.center {
  display: flex !important;
  justify-content: center !important;
}

.button {
  cursor: pointer;
}